# Track model files with Git LFS
makeitcolor/pytorch_model.pt filter=lfs diff=lfs merge=lfs -text

# Track all images with Git LFS
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
examples/*.jpg filter=lfs diff=lfs merge=lfs -text
